body{
    background-color: rgb(78, 118, 81);
}
h1{
    font-weight: bold;
    color:rgb(226, 226, 207);
    font-family: 'inter';
    font-size: 9vw;
    margin: 0%;   
}
..box {
    width: 30%;
    height: 200px;
    border: 5px dashed #f7a239;
  }
  
  img {
    height: 58vw;
    float:left
  }
video{
    height: 100vw;
}
.image{  
    flex-basis: 40%;
}
.text{
    color:rgb(226, 226, 207);
    font-family: 'inter';
    font-size: 475%;
    font-weight: bold;
    margin: 0%;   
}
h2{
    font-weight: bold;
    color:rgb(226, 226, 207);
    font-family: 'inter';
    font-size: 9vw;
    margin: 0%;   
    float: right;
    padding-left: 0%;
}
br {
    margin:10 em 0;/* FF for instance */
  }
p{
    font-weight: 600;
    color:rgb(226, 226, 207);
    font-family: 'inter';
    font-size: 75%;
    margin: 0%;   
    padding-left: 10px;
    padding-top: 70%;
}
p2{
    font-weight: 300;
    color:rgb(226, 226, 207);
    font-family: 'inter';
    font-size: 100%;
    text-align: center
    
}
h3{
    font-weight: normal;
    color:rgb(226, 226, 207);
    font-family: 'inter';
    font-size: 64 px;
    margin: 43 PX;   
    align-self: center;
}
p3{
    font-weight: 300;
    color:rgb(226, 226, 207);
    font-family: 'inter';
    font-size: 100%;
    text-align: right;
}