body{
    background-color: rgb(78, 118, 81);
    font-family: 'inter';
    color:rgb(226, 226, 207);
    
}
h1{
    font-weight: bold;
    color:rgb(226, 226, 207);
    font-family: 'inter';
    font-size: 9vw;
    margin: 0%;   
}
.container{
   padding-top: ;
   border: rgb(226, 226, 207);
   
}
  
  img {
    height: 58vw;
    
  }

video{
    height: 100vw;
}
.image{  
    
    flex-basis: 40%;
    float:left
}
.text{
    color:rgb(226, 226, 207);
    font-family: 'inter';
    font-size: 475%;
    font-weight: bold;
    padding-left: 50px;  
    ;
}
h2{
    font-weight: bold;
    color:rgb(226, 226, 207);
    font-family: 'inter';
    font-size: 10vw;
    margin: 0%;   
    float: left
    
}
br {
    margin:10 em 0;/* FF for instance */
  }
p{
    font-weight: 600;
    color:rgb(226, 226, 207);
    font-family: 'inter';
    font-size: 85%;
    margin: 0%;   
    padding-left: 10px;
    padding-top: 70%;
}

h3{
    font-weight: normal;
    color:rgb(226, 226, 207);
    font-family: 'inter';
    font-size: 64 px;
    margin: 43 PX;   
    align-self: center;
}

.center{
text-align: center;
font-weight: 300;
color:rgb(226, 226, 207);
font-family: 'inter';
font-size: 100%;

}