
body{
    background-color: rgb(78, 118, 81);
    color:rgb(226, 226, 207);
    font-family: 'inter';
    height: 100%;
    width:100%;
    
}
h1{
  color:rgb(226, 226, 207);
    font-family: 'inter';
    font-size: 9vw;
    font-weight: bold;
}
#works{
  border: rgb(226, 226, 207); 
  align-items: center;  
}
  
  img {
    height: 58vw;
    
  }

video{
    height: 100vw;
}
.image{  
    
    flex-basis: 40%;
    float:left
}
.text{
    color:rgb(226, 226, 207);
    font-family: 'inter';
    font-size: 475%;
    font-weight: bold;
    padding-left: 50px;  
    ;
}
h2{
    color:rgb(226, 226, 207);
    font-family: "inter";
    font-size: 10vw;
    font-weight: bold;
}

p{
    color:rgb(226, 226, 207);
    font-family: 'inter';
    font-size: 85%;
    font-weight: 600;
    padding-left: 1px; /*line it up*/

}

h3{
    align-self: center;
    color:rgb(226, 226, 207);
    font-family: 'inter';
    font-size: 10vw;
    font-weight: bold;
    margin: 43px;   
}

.center{
color:rgb(226, 226, 207);
font-family: 'inter';
font-size: 100%;
font-weight: 300;
text-align: center;
}
.Home {
    background-color : rgb(78, 118, 81);
    border-color: rgb(226, 226, 207);
    border-radius: 4px;
    color: rgb(226, 226, 207);
    padding: 10px 20px;
  }
  
  #mybutton {
    bottom: 10px;
    position: fixed;
    right: 10px;
  }