body{
    background-color: rgb(78, 118, 81);
}
p{
    color:rgb(226, 226, 207);
    font-family: 'inter';
    font-size: 95%;
    font-weight: 600;
    padding-left: 10px;
}
img{
    height: auto;
    width: 100%;
}
.image{
    flex-basis: 40%;
}