body{
    background-color: rgb(78, 118, 81);
}
p{
    color:rgb(226, 226, 207);
    font-family: 'inter';
    font-size: 95%;
    font-weight: 600;
    margin: 0%;   
    padding-left: 10px;
    padding-top: 0%;
}
img{
    height: auto;
    max-height: max-content;
    width: 100%;
}
.image{
    flex-basis: 40%;
}
.Home {
    background-color : rgb(78, 118, 81);
    border-color: rgb(226, 226, 207);
    border-radius: 4px;
    color: rgb(226, 226, 207);
    padding: 10px 20px;
  }
  
  #mybutton {
    bottom: 10px;
    position: fixed;
    right: 10px;
  }