body{
    background-color: rgb(78, 118, 81);
}
p{
    font-weight: 600;
    color:rgb(226, 226, 207);
    font-family: 'inter';
    font-size: 95%;
    margin: 0%;   
    padding-left: 10px;
    padding-top: 0%;
}
img{
    max-height: max-content;
    width: 100%;
    height: auto;
}
.image{
    flex-basis: 40%;
}